* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colornaranja: #d97336;
$colorceleste: #a3dfd9;
$colorrosa: #e4b2d8;
$colorverde: #d0e068;

body {
    background-image: url(../imagenes/fondo.png);
    font-family: 'Domine', serif;
}

h1{
    font-family: 'Domine', serif;
    font-weight: 700;
    color: #d97336;
    text-align: center;
}

h2{
    font-family: 'Domine', serif;
    font-weight: 600;
    color: #a3dfd9;
    text-align: center;
}

h3{
    font-family: 'Domine', serif;
    font-weight: 400;
    color: black;
    text-align: justify;
}

.sombras{
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

img {
    width: 45px;
}